/* Basic reset for margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background-color: #333;
    color: #C0BFBF;
}

.logo img {
    height: 70px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    text-decoration: none;
    color: #C0BFBF;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav .nav-links a:hover {
    color: #ff6347;
}

.intro {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro h2 {
    font-size: 28px;
    margin-bottom: 1rem;
    color: #333;
}

.intro p {
    font-size: 18px;
    margin-bottom: 1rem;
}

.intro a {
    color: #007bff;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

.project-list {
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

.project-list li {
    margin-bottom: 1rem; /* Space between items */
}

.project-list h3 {
    font-size: 24px; /* Font size for project titles */
    margin-bottom: 0.5rem; /* Space below the title */
}

.project-list a {
    color: #007bff;
    text-decoration: none;
    display: block; /* Make links block elements for better spacing */
    margin-bottom: 0.5rem; /* Space below links */
}

.project-list a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 25px;
    background-color: #333;
    color: #C0BFBF;
    font-size: 14px;
}

footer nav .nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

footer nav .nav-links li {
    margin-left: 15px;
}

footer nav .nav-links a {
    color: #C0BFBF;
    text-decoration: none;
    font-size: 14px;
}

footer nav .nav-links a:hover {
    color: #ff6347;
}

.about-banner {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}